* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}

#tab {
    width: 498px;
    height: 120px;
    border: 1px solid #cccccc;
    margin: 100px auto;
    /*超出隐藏*/
    /*overflow: hidden;*/
}

#tab_header {
    background-color: #e8e8e8;
    height: 28px;
    line-height: 28px;
}

#tab_header ul {
    width: 500px;
    /*伸缩布局*/
    /* display: flex;
     justify-content: space-around;
     align-items: center;*/

}

/*浮动*/
#tab_header ul li {
    float: left;
    width: 98px;
    /*background-color: red;*/
    text-align: center;
    /*先占满*/
    padding: 0px 1px;
    border-bottom: 1px solid #cccccc;
    cursor: pointer;

}

#tab_header ul li.selected {
    background-color: #fff;
    border-bottom: none;
    /*加左右线条*/
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 0px;
}
#tab_header ul li:nth-child(1){
    border-left: none;
}
#tab_header ul li:nth-last-child{
    border-right: none;
}
#tab_header ul li:hover{
    font-weight: bolder;
    color: orangered;
}
/*内容区域*/
#tab_content{

}
#tab_content .dom{
    padding: 20px;
    display: none;
}
#tab_content .dom ul li{
    float: left;
    width: 200px;
    text-align: center;
    margin: 5px;
}
#tab_content .dom ul li a:hover{
    color: red;
}